body {
  display: grid;
  box-shadow: 0 0 20px rgb(138, 46, 6);
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: linear-gradient(rgb(72, 73, 57), #887f21, rgb(255, 176, 127), royalblue, darkturquoise,darkturquoise, powderblue, lemonchiffon, lavenderblush, darkkhaki);
  margin: 0;
}


.calculator {
  background-color: pink;
  box-shadow: 0 0 20px tan;
  padding: 20px;
  border-radius: 20px;
  box-shadow: 0 0 20px greys;
}

.display {
  font-size: 9em;
  font-family: monospace;
  margin-bottom: 10px;
  padding: 10px;
  box-shadow: 0 0 20px rgb(147, 69, 17);
  background-color: rgb(130, 130, 74);
  box-shadow: 0 0 20px black;
  color: sandybrown;
  border-radius: 5px;
  text-align: right;
}

.buttons {
  display: grid;
  box-shadow: 0 0 20px grey;
  grid-template-columns: repeat(4, 1fr);
  box-shadow: 0 0 20px grey;
  gap: 10px;
}

.btn {
  padding: 20px;
  font-size: 3em;
  border: none;
  box-shadow: 0 0 20px sandybrown;
  background-color: lightcyan;
  color: darkkhaki;
  border-radius: 5px;
  cursor: pointer;
}

.btn:hover {
  background-color: rgb(48, 47, 48);
}

.btn-clear {
  background-color: salmon;
}

.btn-clear:hover {
  background-color: #e6f883;
}
